@use "../../style/variables.scss";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.white {
  * {
    fill: variables.$primary-color;
  }
}

.navigation_left {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    margin-left: 2rem;
  }

  li {
    margin-right: 1.5rem;
  }

  a {
    text-decoration: none;
    color: variables.$primary-color;
    text-transform: uppercase;
    font-size: 1.6rem;

    &:hover {
      color: variables.$second-color;
    }
  }
}

.navigation_right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.seach {
  position: relative;
  cursor: pointer;
}

.search_icon {
  &:hover {
    * {
      fill: variables.$second-color;
    }
      
  }
}
