@use "../../style/variables.scss";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  position: relative;
}

.white {
  * {
    fill: variables.$primary-color;
  }
}

.logo {
  margin-right: 2rem;
}

.navigation_left {
  display: flex;
  align-items: center;

  ul {
    display: flex;
  }

  li {
    margin-right: 1.5rem;
  }

  a {
    text-decoration: none;
    color: variables.$primary-color;
    text-transform: uppercase;
    font-size: 1.6rem;

    &:hover {
      color: variables.$second-color;
    }
  }
}

.navigation_list {
  @media (max-width: 768px) {
    position: absolute;
    inset: 0;
    top: 7.5rem;
    transform: translateX(-100rem);
    display: flex;
    flex-direction: column;
    transition: all 0.1s;
    background: variables.$bg;
    height: 100vh;
    gap: 1rem;
    padding-left: 2rem;
    z-index: 10;
  }
}

.navigation_list_active {
  transform: translateX(0);
}

.navigation_right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.search_icon {
  cursor: pointer;
  &:hover {
    * {
      fill: variables.$second-color;
    }
  }
}

.menu {
  display: none;
  cursor: pointer;

  @media (max-width: 768px) {
    display: block;
  }
}

.profile{
  cursor: pointer;
  position: relative;
}