@use "../../style/variables.scss";

.wrapper {
  position: relative;
  right: 0;
  top: 0;
  z-index: 1;

  @media (max-width: 768px) {
    position: absolute;
    inset: 0;
    background: variables.$bg;
    padding: 2rem 2rem 0 2rem;
  }
}

.seach {
  color: #f1f1f1;
  background: transparent;
  border: 1px solid #424242;
  border-radius: 28px;
  padding: 0.7rem 5rem;
  padding-left: 2rem;
  width: 100vw;
  max-width: 36rem;
  font-size: 1.6rem;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.white {
  fill: #424242;
}

.wrapper_btn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 1rem;
  top: 5px;
  z-index: 2;
  cursor: pointer;

  input {
    position: absolute;
    inset: 0;
    background-color: transparent;
    color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 100;
  }

  @media (max-width: 768px) {
    top: 2.5rem;
    right: 3rem;
  }
}

.seach_icon {
  position: absolute;
  inset: 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
