@use "./variables.scss";

html {
  background: variables.$bg;
  color: variables.$primary-color;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

a {
  color: variables.$primary-color;
  text-decoration: none;
}


.css-1c99szj-MuiRating-icon{
  color: #faaf00;
}

//для плавного перехода между страницами ----------------------------------------------

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  // transition: opacity 500ms ease-in;
}

.gZmPOF {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bidabG {
  display: flex;
  justify-content: center;
}