.title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    cursor: pointer;
  
    & > h3 {
      font-size: 1.6rem;

      @media (max-width:420px) {
        display: none;
      }
    }
  }
  